body { font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.navbar-brand img { border-radius: 6px; }
.card { border-radius: 12px; }
.form-control-plaintext { border: none; background: transparent; width:100%; }